<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= hydrauliscECode %> | Hydraulisc</title>
    <link rel="canonical" href="https://hydraulisc.net/404" />
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include('../partials/header', { username: null }) %>
    <div class="app-container">
        <div class="erorrContainer">
            <div class="erorrClass">
                <div class="errorText" title="Error <%- hydrauliscECode %>">
                    <h1><%- hydrauliscECode %></h1>
                </div>
                <h3><%- errorMessage %></h3>
            </div>
        </div>
    </div>
    <%- include('../partials/footer', { username: null }) %>
</body>
</html>