<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/144374735">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/classicStyles.css">
    <link rel="stylesheet" href="/css/indexStyles.css">
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                <h3>Latest Uploads</h3>
                <div class="container_container">
                    <main class="landing_feat">
                        <div>
                            <% if (posts.length) { %>
                                <% for (const post of posts) { %>
                                <div id="<%- post.id %>" class="star_post_container">
                                    <div style="border-bottom: 1px solid #04050a;">
                                        <span class="star_post_header_container">
                                            <span class="star_post_header">
                                                <span style="position: relative;">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/user/<%- post.user_id %>" class="star_post_title">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="<%- post.pfp %>" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 40px; height: 40px; display: flex;" loading="lazy">
                                                                    </div>
                                                                    <span style="font-size: larger;"><%- post.username %></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <div class="dropdown">
                                                <span class="popup_menu <%- post.id %> dropbtn">⋮</span>
                                                <div class="dropdown-content">
                                                    <a href="#">Report Content</a>
                                                    <% if(post.user_id == ownId) { %>
                                                        <a href="#">Edit</a>
                                                        <a class="destructive_options" href="#">Delete</a>
                                                    <% } %>
                                                    <% if(isAdmin) { %>
                                                        <a class="destructive_options" href="#">Sudo Delete</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <a style="inset: 0; text-decoration: none; color: #d7d9e0;" href="/post/<%- post.id %>">
                                        <div style="display: flex; margin-top: .3rem;">
                                            <div style="overflow: hidden; margin-left: auto; margin-right: auto; position: relative; display: inline-block;">
                                                <div class="overlay"></div>
                                                <img class="star_post_body" src="/uploads/<%- post.filename %>" loading="lazy">
                                            </div>
                                        </div>
                                        <div style="display: flex; margin-top: .3rem; margin-bottom: .3rem;">
                                            <div class="star_post_texter" style="overflow: hidden;">
                                                <%- post.title %>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                            <% } else { %>
                                <div id="" class="star_post_container">
                                    <div style="border-bottom: 1px solid #04050a;">
                                        <span class="star_post_header_container">
                                            <span class="star_post_header">
                                                <span style="position: relative;">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/" class="star_post_title">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="/img/defaultpfp.png" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 40px; height: 40px; display: flex;" loading="lazy">
                                                                    </div>
                                                                    <span style="font-size: larger;">No Data</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <span></span>
                                        </span>
                                    </div>
                                    <a style="inset: 0; text-decoration: none; color: white;" href="/">
                                        <div style="display: flex; margin-top: .3rem;">
                                            <div style="overflow: hidden; margin-left: auto; margin-right: auto; position: relative; display: inline-block;">
                                                <img class="star_post_body" src="/img/defaultpfp.png" loading="lazy">
                                                <div class="overlay"></div>
                                            </div>
                                        </div>
                                        <div style="display: flex; margin-top: .3rem; margin-bottom: .3rem;">
                                            <div class="star_post_texter" style="overflow: hidden;">
                                                If you are seeing this post, no posts exist on this instance, or this instance has it's feed set to private. <a href="/login">Login</a> to view more. <a href="https://blog.hydraulisc.xyz/?entry=haulisc-roadmap" target="_blank" rel="noopener noreferrer">Roadmap</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/cookies', { cookies }) %>
    <%- include('../partials/footer', { username: ownId}) %>
</body>
</html>