<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydraulisc</title>
    <meta property="og:title" content="Hydraulisc - Stay in the loop">
    <meta property="og:description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:image" content="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/defaultStyle.css">
    <link rel="stylesheet" href="/css/popupStyles.css">
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                <h3>Latest Uploads</h3>
                <div class="container_container">
                    <main class="landing_feat">
                        <div style="margin-bottom: 4rem;">
                            <% if (posts.length) { %>
                                <% for (const post of posts) { %>
                                <div id="<%- post.id %>" class="draulisc_post_container">
                                    <div style="margin-bottom: 12px;">
                                        <span class="draulisc_post_header_container">
                                            <span class="draulisc_post_header">
                                                <span class="draulisc_post_user_container">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/user/<%- post.user_id %>" class="draulisc_post_user">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="<%- post.pfp %>" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 40px; height: 40px; display: flex;" loading="lazy">
                                                                    </div>
                                                                    <span style="font-size: larger; padding-right: 6px;"><%- post.username %></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <div class="dropdown">
                                                <span class="popup_menu <%- post.id %> dropbtn">⋮</span>
                                                <div class="dropdown-content">
                                                    <a style="text-transform: uppercase; text-align: center; font-weight: 600; font-size: small;" href="https://about.hydraulisc.net/help/articles/101013/" target="_blank">Report Content</a>
                                                    <% if(post.user_id == ownId) { %>
                                                        <a style="text-transform: uppercase; text-align: center; font-weight: 600; font-size: small;" href="/post/<%- post.id %>/edit">Edit</a>
                                                        <form action="/api/posts/<%- post.id %>/delete" method="post">
                                                            <button class="destructive_options" type="submit">Delete</button>
                                                        </form>
                                                    <% } %>
                                                    <% if(isAdmin) { %>
                                                        <form action="/auth/admin/<%- post.id %>/sudodelete" method="post">
                                                            <button class="destructive_options" type="submit">Sudo Delete</button>
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <a style="inset: 0; text-decoration: none; color: #d7d9e0;" href="/post/<%- post.id %>">
                                        <div style="display: flex; margin-top: .3rem;">
                                            <div style="overflow: hidden; margin-left: auto; margin-right: auto; position: relative; display: inline-block;">
                                                <div class="overlay"></div>
                                                <img class="draulisc_post_body" src="/uploads/<%- post.filename %>" loading="lazy">
                                            </div>
                                        </div>
                                        <div style="display: flex; margin-top: .3rem; margin-bottom: .3rem;">
                                            <% if (post.title) { %> <!-- Check if post.title exists -->
                                                <div class="draulisc_post_texter" style="overflow: hidden;">
                                                    <%- post.title %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                            <% } else { %>
                                <div id="" class="draulisc_post_container">
                                    <div style="margin-bottom: 12px;">
                                        <span class="draulisc_post_header_container">
                                            <span class="draulisc_post_header">
                                                <span class="draulisc_post_user_container">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/" class="draulisc_post_title">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="/img/defaultpfp.png" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 40px; height: 40px; display: flex;" loading="lazy">
                                                                    </div>
                                                                    <span style="font-size: larger;">No Data</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <span></span>
                                        </span>
                                    </div>
                                    <a style="inset: 0; text-decoration: none; color: white;" href="/">
                                        <div style="display: flex; margin-top: .3rem;">
                                            <div style="overflow: hidden; margin-left: auto; margin-right: auto; position: relative; display: inline-block;">
                                                <img class="draulisc_post_body" src="/img/defaultpfp.png" loading="lazy">
                                                <div class="overlay"></div>
                                            </div>
                                        </div>
                                        <div style="display: flex; margin-top: .3rem; margin-bottom: .3rem;">
                                            <div class="draulisc_post_texter" style="overflow: hidden;">
                                                If you are seeing this post, no posts exist on this instance, or this instance has it's feed set to private. <a href="/login">Login</a> to view more. <a href="https://blog.hydraulisc.net/blog/haulisc-roadmap" target="_blank" rel="noopener noreferrer">Roadmap</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/cookies', { cookies }) %>
    <%- include('../partials/footer', { username: ownId}) %>
</body>
</html>