<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="article">
    <% if(author.username) { %>
        <title><%- author.username %>'s post on Hydraulisc</title>
        <meta property="og:title" content="Check out <%- author.username %>'s post on Hydraulisc">
        <meta property="og:image" content="/uploads/<%- post.filename %>">
        <meta property="og:description" content="Check out <%- author.username %>'s post on Hydraulisc | Follow <%- author.username %> and others you know to get the latest updates and more, on Hydraulisc.">
    <% } else { %>
        <title>Not Found | Hydraulisc</title>
        <meta property="og:title" content="Stay in the loop, with Hydraulisc">
        <meta property="og:description" content="Create an account on Hydraulisc to see more!">
        <meta property="og:image" content="https://about.hydraulisc.net/assets/img/Foss-Hydraulisc.png">
        <link rel="canonical" href="https://hydraulisc.net/404">
    <% } %>
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://about.hydraulisc.net/assets/img/Foss-H-logo.png">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc - Stay in the loop">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/globalStyles.css">
    <link rel="stylesheet" href="/css/defaultStyle.css">
    <link rel="stylesheet" href="/css/popupStyles.css">
    <link rel="manifest" href="/json/manifest.json">
    <script src="/js/themeHelper.js"></script>
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <br>
    <div class="app-container">
        <div class="gridz">
            <div class="home_container">
                    <div style="width: 100%;">
                        <% if(post.title) { %>
                            <div style="max-width: 100%; margin-top: -12px;"><%- post.title %></div>
                        <% } %>
                    </div>
                    <div class="container_container">
                            <div>
                                <br class="separator">
                                <div id="<%- post.postId %>" class="draulisc_post_container">
                                    <div style="border-bottom: 1px solid var(--background-primary); margin-bottom: 12px;">
                                        <span class="draulisc_post_header_container">
                                            <span class="draulisc_post_header">
                                                <span class="draulisc_post_user_container">
                                                    <span style="display: flex;">
                                                        <div>
                                                            <div>
                                                                <a href="/user/<%- post.user_id %>" class="draulisc_post_user">
                                                                    <div style="padding-right: 6px;">
                                                                        <img src="<%- author.pfp %>" style="color: black; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; width: 40px; height: 40px; display: flex;" loading="lazy">
                                                                    </div>
                                                                    <span style="font-size: larger; padding-right: 6px;"><%- author.username %></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </span>
                                            </span>
                                            <div class="dropdown">
                                                <span class="popup_menu <%- post.id %> dropbtn">⋮</span>
                                                <div class="dropdown-content">
                                                    <a style="text-transform: uppercase; text-align: center; font-weight: 600; font-size: small;" href="https://about.hydraulisc.net/help/articles/101013/" target="_blank">Report Content</a>
                                                    <% if(post.user_id == ownId) { %>
                                                        <a style="text-transform: uppercase; text-align: center; font-weight: 600; font-size: small;" href="/post/<%- post.id %>/edit">Edit</a>
                                                        <form action="/api/posts/<%- post.id %>/delete" method="post">
                                                            <button class="destructive_options" type="submit">Delete</button>
                                                        </form>
                                                    <% } %>
                                                    <% if(isAdmin) { %>
                                                        <form action="/auth/admin/<%- post.id %>/sudodelete" method="post">
                                                            <button class="destructive_options" type="submit">Sudo Delete</button>
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <a style="inset: 0; text-decoration: none; color: white;" href="/user/<%- post.user_id %>">
                                        <div style="display: flex; margin-top: .3rem;">
                                            <div style="overflow: hidden; margin-left: auto; margin-right: auto;">
                                                <img class="enlargened_post_body" src="/uploads/<%- post.filename %>" loading="lazy">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                    </div>
                <div class="commentsContainer">
                    <h3>No Comments Yet! Be the first!</h3>
                    <% if (ownId) { %>
                        <div class="createCommentsContainer"></div>
                        <div class="draulisc_post_container">
                            <div style="background: #1d1f29; width: 100%; padding-top: .5rem; padding-bottom: .5rem;">
                                <p>Comments aren't implemented yet. <a href="https://blog.hydraulisc.net/blog/haulisc-roadmap" target="_blank" rel="noopener noreferrer">Roadmap</a></p>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="createCommentsContainer"><a href="/login">Sign In</a> to contribute to Discussions!</div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/cookies', { cookies }) %>
    <%- include('../partials/footer', { username: ownId }) %>
</body>
</html>