<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(usersPage) { %>
        <title><%= usersPage %> | Hydraulisc</title>
        <meta property="og:title" content="Follow <%= usersPage %> on Hydraulisc | Stay in the loop">
        <meta property="og:image" content="<%= usersPfp %>">
        <meta property="og:description" content="Be the first to follow <%= usersPage %> on Hydraulisc">
    <% } else { %>
        <title>Not Found | Hydraulisc</title>
        <meta property="og:title" content="Hydraulisc - Stay in the loop">
        <meta property="og:description" content="Create an account on Hydraulisc, join many other users sharing with privacy in mind, and more!">
        <meta property="og:image" content="https://raw.githubusercontent.com/Hydraulisc/hydraulisc.github.io/main/assets/img/Hydraulisc.png">
        <link rel="canonical" href="https://hydraulisc.net/404">
    <% } %>
    <!-- Unused Canonical and alternate "link"'s removed: https://www.html-easy.com/references/html-link-tag/ & https://ahrefs.com/blog/canonical-tags/ -->
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/144374735">
    <meta name="description" content="Stay in the loop, with Hydraulisc - where communities come together!">
    <meta property="og:site_name" content="Hydraulisc">
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
    <link rel="stylesheet" href="/css/userPageStyles.css">
</head>
<body>
    <%- include('../partials/header', { username: ownId }) %>
    <div class="profile_body">
        <div>
            <div class="user_info_container">
                <div class="user_info_set_container">
                    <div class="user_info_set">
                        <% if (banner) { %>
                            <div class="banner_wrapper" style="background-color: transparent;">
                                <div class="banner_container">
                                    <div class="settings_banner" style="background-image: url(<%-banner%>);"></div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="banner_wrapper" style="background-color: #1C286B;">
                                <div class="banner_container">
                                        <div class="settings_banner"></div>
                                </div>
                            </div>
                        <% } %>
                        <div class="divider"></div>
                        <div class="username_container">
                            <span class="username_displayname"><%- usersPage %></span>
                            <span class="username">@<%- usersPage %>#<%- discriminator %></span>  
                            </div>
                        </div>
                        
                        <div class="profile_display_container">
                            <div class="avatar_container" title="@<%- usersPage %>#0000's Profile Image">
                                <div class="avatar_stack">
                                    <div class="avatar_mask">
                                        <div class="avatar">
                                            <img src="<%- usersPfp %>" alt=" ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pofile_username_container">
                                <div class="profile_username">
                                    <div class="user_tag_container">
                                        <span><%- usersPage %></span>
                                        <span class="user_tag">@<%- usersPage %>#<%- discriminator %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="descriptions">
                            <% if (follows == null || follows == undefined) { %>
                                <span style="color: #454857; cursor: default;">0 Followers</span>
                            <% } else { %>
                                <span style="color: #454857; cursor: default;"><%= follows %> Followers</span>
                            <% } %>
                            <% if (username && !followingList.includes(userIdToCheck)) { %>
                                <% if(ownId == userIdToCheck) { %>
                                    <!-- User is logged in and viewing own page -->
                                    <button class="user_page_buttons" onclick="location.href='/settings';" style="width: auto !important;">Edit Profile</button>
                                <% } else { %>
                                    <!-- User is logged in and not following -->
                                    <button class="user_page_buttons" onclick="followUser('<%= userIdToCheck %>')">Follow</button>
                                <% } %>
                            <% } else if(username && followingList.includes(userIdToCheck)) { %>
                                <!-- User is logged in and already following -->
                                <button class="user_page_buttons" onclick="unfollowUser('<%= userIdToCheck %>')">Unfollow</button>
                                <% if(ownId == userIdToCheck) { %>
                                    <button class="user_page_buttons" onclick="location.href='/settings';" style="width: auto !important;">Edit Profile</button>
                                <% } else { %>
                                    <span></span>
                                <% } %>
                            <% } else { %>
                                <!-- User is not logged in -->
                                <a style="cursor: pointer; text-decoration: none; color: #5667c7;" href="/login">Sign in to see more!</a>
                            <% } %>
                            <div>
                                <% if (usersBiography) { %>
                                    <p><i><%- usersBiography %></i></p>
                                <% } else { %>
                                    <p><i>This user has not written their Bio yet.</i></p>
                                <% } %>
                            </div>
                            <div class="profile_navigation">
                                <div class="profile_navigation_grid">
                                    <a class="profile_navigation_link">
                                        <button class="profile_navigation_button">Posts</button>
                                    </a>
                                    <a class="profile_navigation_link" style="display: flex; height: 100%; width: 100%; max-width: 100%; margin: auto;">
                                        <button class="profile_navigation_button">Comments</button>
                                    </a>
                                    <a class="profile_navigation_link" style="display: flex; height: 100%; width: 100%; max-width: 100%; margin: auto;">
                                        <button class="profile_navigation_button">Likes</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user_uploads_container">
        <div class="uploads_grid">
            <% if (uploads.length) { %>
                <% for (const upload of uploads) { %>
                    <div id="<%- upload.id %>" onclick="location.href='/post/<%- upload.id %>';">
                        <div class="upload">
                            <div class="upload_img_container">
                                <img class="upload_img" src="/uploads/<%- upload.filename %>">
                                <div style="width: 100%; height: 100%; position: relative; top: -246px;"></div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div id="0">
                    <div class="no_posts_display">
                        <div class="upload_img_container">
                            <span style="display: block; line-height: 32px; font-size: 1.6em; font-weight: 600;"><%- usersPage %>#<%- discriminator %> has not uploaded anything (yet).</span>
                            <div style="width: 100%; height: 100%; position: relative; top: -246px;"></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('../partials/footer', { username: ownId }) %>
</body>
</html>